@import "variables";

.aboutMeContainer {
  //   display: grid;
  //   grid-template-columns: 1fr 1fr 1fr;
  display: flex;
  margin: 20px 230px;
  gap: 10px;

  div {
    border: 1px solid $black;
    padding: 20px 10px;
    border-radius: 20px;
    width: 370px;
    height: 600px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 18px;
  }
  img {
    border: 1px solid $black;
    width: 370px;
  }
}
