@import "variables";

.aboutMeContainer {
  display: flex;
  gap: 10px;

  div {
    border: 1px solid $black;
    padding: 20px 10px;
    border-radius: 20px;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-family: HelveticaTextbook;

    p {
      line-height: 29px;
      .coloredText {
        color: #2c9c00;
      }

      .coloredJunoText {
        color: #e7410a;
      }

      .italicText {
        font-style: italic;
        
      }
    }
  }

  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

    img {
      border: 1px solid $black;
      width: 370px;
      height: 360px;
    }
  }
}

@media (max-width: 1156px) {
  .aboutMeContainer {
    display: grid;
    grid-template-columns: 1fr;

    div {
      border: none;
    }
  }
}
