@import "variables";

.formTextContainer {
  .title {
    text-align: center;
    margin-top: 70px;
  }
  .introBlurb {
    margin: 0px 140px;
  }
}
.formContainer {
  margin: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  .nameEmailContainer {
    display: flex;
    input {
      width: 428px;
      height: 40px;
      border-radius: 5px;
      border: 1px solid $black;

      &::placeholder {
        font-size: 16px;
      }
    }

    .emailField,
    .nameField {
      display: flex;
      flex-direction: column;
    }
    .nameField {
      margin-right: 70px;
    }
  }
  label {
    padding-bottom: 8px;
  }
  .messageField {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    textarea {
      width: 920px;
      border-radius: 5px;
      border: 1px solid $black;
    }
  }
  button {
    margin-top: 30px;

    border-radius: 20px;
    border: 1px solid #000;
    background-color: $white;
    padding: 20px 18px;
  }
  button:hover {
    background-color: #5a9e24;
    color: $white;

    transform: translateY(-7px);
  }
}

// Media Queries

@media (max-width: 1140px) {
  .formContactContainer {
    .formContainer {
      margin: 40px 0px;
    }
  }
}

@media (max-width: 1068px) {
  .formContainer {
    .nameEmailContainer input {
      width: 345px;
    }
    .messageField textarea {
      width: 780px;
    }
  }
}

@media (max-width: 920px) {
  .formContainer {
    .nameEmailContainer input {
      width: 260px;
    }
    .messageField textarea {
      width: 600px;
    }
  }
}

@media (max-width: 727px) {
  .formContainer {
    .nameEmailContainer {
      .nameField {
        margin-right: 40px;
      }
      input {
        width: auto;
      }
    }
    .messageField textarea {
      width: 500px;
    }
  }
}

@media (max-width: 620px) {
  .contactPage {
    .introBlurb {
      margin: 0px 20px;
    }
    .formContainer {
      .nameEmailContainer {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        justify-content: center;
        align-items: center;
        .nameField {
          margin-right: 0px;
        }
        input {
          width: 300px;
        }
      }
      .messageField textarea {
        width: 300px;
      }
    }
  }
}

@media (max-width: 360px) {
  .contactPage {
    .formContainer {
      .nameEmailContainer {
        input {
          width: 230px;
        }
      }
      .messageField textarea {
        width: 230px;
      }
    }
  }
}
