.fixed-intro-para {
  margin-top: 95px;
  padding: 0px 10px 0px 10px;
  line-height: 27px;
  .job-title {
    font-weight: 600;
  }

  hr {
    margin-top: 100px;
    border: 0.5px solid black;
  }
  .social-media-icons ul {
    display: flex;
    color: black;
    gap: 20px;
    li {
      list-style: none;
      .fa-brands,
      .fa-solid {
        color: black;
      }
    }
  }
  .copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    p {
      margin: 2px 0px 2px 0px;
      font-size: 14px;
    }
  }
}
.divider {
  border: 0.5px solid white;
  height: 85vh;
}
