@import "variables";

footer {
  margin: 100px 0px 30px;
  p {
    margin-top: 20px;
  }
}
.footerBar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 100px;
  align-items: center;
  li {
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
    a {
      text-decoration: none;
      font-size: 26px;
      color: $yellow;
      -webkit-text-stroke: 1px black;
      transition: 0.3s ease 0s;
    }
    &:hover {
      transform: translateY(-2px);
    }
  }
}
.socialMediaLinks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  a {
    color: $black;
  }
}

// Media Queries

@media (max-width: 704px) {
  .footerBar {
    grid-template-columns: 1fr;
    gap: 62px;
  }
}
