@import "variables";

html,
body,
ul {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}
.wrapper {
  max-width: 830px;
  width: 100%;
  margin: 0 auto;
}
.main-background {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/assets/backgroundimagedark.svg);
}

.website-container {
  overflow: hidden;
  position: fixed;
  width: 98vw;
  height: 94vh;
  display: flex;
  border-radius: 38px;
  border: solid $primarygreen 2px;
  background: $primarygreen;
}

.fixed-side-bar {
  overflow-y: auto;
  width: 30%;
  margin: 10px;
  display: flex;
  align-self: self-start;
  border-top-left-radius: 38px;
  border-bottom-left-radius: 38px;
}
.changing-content {
  width: 70%;
  margin: 10px;
  overflow-y: auto;
  border-top-right-radius: 38px;
  border-bottom-right-radius: 38px;
}

// Responsiveness

@media (max-width: 1370px) {
  .main-background {
    background-image: url();
  }
  .website-container {
    border-radius: 38px;
    border: 2px solid black;
  }
}
