@import "variables";

.websiteContent {
  overflow-y: scroll;
  .homePage {
    .title {
      font-family: HelveticaRounded;
      font-size: 50px;
      letter-spacing: 5px;
      margin-top: 30px;
    }
    .loading {
      margin-top: 60px;
      display: none;
    }
    .myName {
      margin: 0px 0px 15px 0px;
      font-size: 40px;
      letter-spacing: 5px;
    }

    .recentProjects {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 50px;
      margin: 40px 0px;

      .individualProject {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid $black;

        padding: 35px 5px 35px 10px;
        height: auto;
        width: 360px;

        h2,
        p,
        .tags {
          transition: opacity 0.5s ease-in-out;
        }

        h2 {
          margin-bottom: 20px;
        }
        p {
          padding: 0px 20px 10px 15px;
          font-weight: 300;
          margin-bottom: 10px;
        }
        .tags {
          margin-top: 20px;
        }
        .tagContainer {
          li {
            list-style: none;
            text-align: center;
            border: 1px solid black;
            padding: 4px 20px;
            margin-bottom: 10px;
            border-radius: 20px;
          }
        }
        .mobileImage {
          display: none;
        }
        .projectButtonContainer {
          display: grid;
          grid-template-columns: 1fr 1fr;
          justify-content: center;
          gap: 15px;
          margin-top: 15px;
          button {
            border: 1px solid $black;
            padding: 10px 8px;
            border-radius: 5px;
            background-color: $white;
            
            &:hover {
              transform: scale(1.1);
              cursor: pointer;
            }

            &:active {
              background-color: $brown;
              color: $white;
              transform: translateY(2px);
            }
            a {
              text-decoration: none;
              color: $black;
            }
          }
        }
        &:hover {
          color: $black;
          transform: translateY(-2px);
        }
      }
    }
    .instructionPara {
      margin-top: 20px;
      font-style: italic;
      font-family: HelveticaTextbook;
      font-size: 14px;
    }
    .viewAllProjectsButton {
      margin-top: 30px;
      border-radius: 20px;
      border: 1px solid #000;
      background-color: $white;
      padding: 20px 18px;
      position: relative;
      overflow: hidden;
      z-index: 1;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $white;
        border-radius: 19px;
        z-index: -2;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: $brown;
        transition: all 0.3s;
        border-radius: 19px;
        z-index: -1;
      }

      &:hover {
        color: #fff;

        &::before {
          width: 100%;
        }
      }
      a {
        text-decoration: none;
        color: $black;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}

// Media Queries

@media (max-width: 1320px) {
  .websiteContent {
    .homePage {
      .recentProjects {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

@media (max-width: 920px) {
  .websiteContent {
    .homePage {
      .recentProjects {
        grid-template-columns: 1fr;
      }
    }
  }
}

@media (max-width: 905px) {
  .websiteContent {
    .homePage {
      .recentProjects {
        .individualProject {
          width: auto;
          height: auto;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .websiteContent {
    .wrapper {
      .homePage {
        .recentProjects {
          .individualProject {
            .mobileImage {
              display: block;
              border-radius: 5px;
              margin: 10px 0px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 734px) {
  .websiteContent {
    .wrapper {
      .homePage {
        .title {
          margin-top: 60px;
        }
      }
    }
  }
}
@media (max-width: 373px) {
  .websiteContent {
    .wrapper {
      .homePage {
        .recentProjects {
          .individualProject {
            .mobileImage {
              width: 200px;
            }
          }
        }
      }
    }
  }
}
