@import "variables";

.navigationBar {
  background-color: $black;
  cursor: pointer;
  width: 58px;
  border-radius: 11px;
  .menuTitle {
    color: $white;
    font-size: 26px; 
    letter-spacing: 2px;
    -webkit-transform: rotate(270deg); /* Safari and Chrome */
    -moz-transform: rotate(270deg); /* Firefox */
    -ms-transform: rotate(270deg); /* IE 9 */
    -o-transform: rotate(270deg); /* Opera */
    transform: rotate(270deg);
  }
}
.hiddenNav {
  display: none;
}
.navIcons {
  display: grid;
  grid-template-columns: 1fr;
  gap: 535px;
  .fa-solid.fa-bars {
    text-align: center;
    margin: 20px 0px;
  }
}
