@import "variables";

.skillsPage {
  .skillsContainer {
    margin: 70px 0px;
  }
  .skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    li {
      list-style: none;
      font-size: 22px;
      border: 1px solid $black;
      text-align: center;
      padding: 30px 50px;
      border-radius: 35px;
    }
  }
}

// Media Queries

@media (max-width: 1201px) {
  .skillsPage {
    .skills {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (max-width: 520px) {
  .skillsPage {
    .skills {
      grid-template-columns: 1fr;
    }
  }
}
