html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: HelveticaTextbook;
  src: url(/Fonts/HelveticaTextbook.ttf);
}
@font-face {
  font-family: HelveticaRounded;
  src: url(/Fonts/HelveticaRounded.ttf);
}
html,
body,
ul,
button {
  margin: 0;
  padding: 0;
  font-family: HelveticaRounded;
}

h1 {
  margin: 20px 0px 20px 0px;
  font-size: 50px;
  text-align: center;
}

h2 {
  margin: 0px;
  font-size: 28px;
}

p {
  margin: 0px;
  line-height: 25px;
  text-align: center;
  font-size: 18px;
}

footer {
  margin: 100px 0px 30px 0px;
}

.tags {
  font-size: 20px;
}

button {
  cursor: pointer;
  -webkit-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
  letter-spacing: 1.5px;
}

.introBlurb {
  font-family: HelveticaTextbook;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  margin: 0px 12px;
}

.wrapper {
  max-width: 1340px;
  width: 100%;
  padding: 0px 0px 0px 82px;
}

.mainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background-image: url(/assets/BCK.svg);
  background-repeat: no-repeat;
}

.websiteContentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 96vh;
  width: 1400px;
  border: 1px solid #1d1d1d;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
}

.websiteContent {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.homePage,
.skillsPage,
.projectPage,
.contactPage,
.aboutPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1370px) {
  .mainContainer {
    background-image: none;
    background-color: #edef7c;
    overflow-y: hidden;
    height: 100vh;
  }
}
@media (max-width: 1355px) {
  .mainContainer {
    background-image: none;
    background-color: #5a9e24;
    height: 100vh;
  }
}
@media (max-width: 1330px) {
  .websiteContentContainer {
    height: 98vh;
  }
}
@media (max-width: 734px) {
  h1 {
    margin-top: 100px;
  }
  .websiteContentContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.navigationBar {
  background-color: #1d1d1d;
  cursor: pointer;
  width: 58px;
  height: 90vh;
  border-radius: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 2;
}
.navigationBar .menuTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-size: 33px;
  letter-spacing: 2px;
  -webkit-transform: rotate(270deg); /* Firefox */
  transform: rotate(270deg);
}

.hiddenNav {
  position: absolute;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  z-index: 1;
  width: 0px;
  height: 90vh;
  overflow: scroll;
  background-color: #1d1d1d;
  color: #ffffff;
  border-radius: 11px;
  padding: 20px 10px 5px 40px;
}
.hiddenNav .closingButton {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-right: 35px;
  font-size: 20px;
  color: #ffffff;
  text-decoration: underline;
  font-family: HelveticaRounded;
}
.hiddenNav .navigationItems {
  margin: 20px 0px 0px 0px;
}
.hiddenNav .navigationItems li {
  list-style: none;
  margin-bottom: 10px;
}
.hiddenNav .navigationItems li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 42px;
  -webkit-transition: letter-spacing 0.5s ease-in-out;
  transition: letter-spacing 0.5s ease-in-out;
}
.hiddenNav li a:hover {
  letter-spacing: 8px;
}
.hiddenNav p {
  text-align: left;
  font-family: HelveticaTextbook;
  margin-bottom: 10px;
  margin-top: 20px;
  padding-right: 15px;
}
.hiddenNav p a {
  text-decoration: underline;
  color: #ffdd55;
}
.hiddenNav .contactResume {
  margin-top: 60px;
}
.hiddenNav .contactResume li {
  list-style: none;
  margin-top: 10px;
}
.hiddenNav .contactResume li a {
  text-decoration: none;
  font-size: 22px;
  color: #ffdd55;
  -webkit-transition: letter-spacing 0.5s ease-in-out;
  transition: letter-spacing 0.5s ease-in-out;
}
.hiddenNav .contactResume li a:hover {
  letter-spacing: 8px;
}

.navIcons {
  display: grid;
  grid-template-columns: 1fr;
  gap: 370px;
  width: 58px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.navIcons .fa-solid.fa-bars {
  text-align: center;
  margin: 20px 0px;
}

.responsiveNavIcon {
  padding-bottom: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.responsiveNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1d1d1d;
  margin: 0px 40px 0px 0px;
  cursor: pointer;
  border-radius: 20px;
  position: absolute;
  z-index: 2;
}
.responsiveNav .responsiveNavContent {
  padding: 0px 30px 20px 30px;
}
.responsiveNav .responsiveNavContent .responsiveNavClosingButton {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-right: 5px;
  font-size: 20px;
  color: #ffffff;
  text-decoration: underline;
  font-family: HelveticaRounded;
}
.responsiveNav .responsiveNavContent .navigationItems {
  margin: 20px 0px 0px 0px;
}
.responsiveNav .responsiveNavContent .navigationItems li {
  list-style: none;
  margin-bottom: 10px;
}
.responsiveNav .responsiveNavContent .navigationItems li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 42px;
  -webkit-transition: letter-spacing 0.5s ease-in-out;
  transition: letter-spacing 0.5s ease-in-out;
}
.responsiveNav .responsiveNavContent li a:hover {
  letter-spacing: 8px;
}
.responsiveNav .responsiveNavContent p {
  text-align: left;
  font-family: HelveticaTextbook;
  margin-bottom: 10px;
  margin-top: 20px;
  padding-right: 15px;
  color: #ffffff;
}
.responsiveNav .responsiveNavContent p a {
  text-decoration: underline;
  color: #ffdd55;
}
.responsiveNav .responsiveNavContent .contactResume {
  margin-top: 60px;
}
.responsiveNav .responsiveNavContent .contactResume li {
  list-style: none;
  margin-top: 10px;
}
.responsiveNav .responsiveNavContent .contactResume li a {
  text-decoration: none;
  font-size: 22px;
  color: #ffdd55;
  -webkit-transition: letter-spacing 0.5s ease-in-out;
  transition: letter-spacing 0.5s ease-in-out;
}
.responsiveNav .responsiveNavContent .contactResume li a:hover {
  letter-spacing: 8px;
}

@media (max-width: 734px) {
  .navigationBar,
  .hiddenNav {
    display: none;
  }
  .wrapper {
    padding: 0px;
  }
}
.websiteContent {
  overflow-y: scroll;
}
.websiteContent .homePage .title {
  font-family: HelveticaRounded;
  font-size: 50px;
  letter-spacing: 5px;
  margin-top: 50px;
}
.websiteContent .homePage .recentProjects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  margin: 45px 0px;
}
.websiteContent .homePage .recentProjects .individualProject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #1d1d1d;
  padding: 35px 5px 35px 10px;
  height: 410px;
  width: 360px;
}
.websiteContent .homePage .recentProjects .individualProject h2,
.websiteContent .homePage .recentProjects .individualProject p,
.websiteContent .homePage .recentProjects .individualProject .tags {
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.websiteContent .homePage .recentProjects .individualProject h2 {
  margin-bottom: 20px;
}
.websiteContent .homePage .recentProjects .individualProject p {
  padding: 0px 20px 10px 15px;
  font-weight: 300;
}
.websiteContent .homePage .recentProjects .individualProject .tags {
  margin-top: 20px;
}
.websiteContent .homePage .recentProjects .individualProject .projectButtonContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-top: 15px;
}
.websiteContent .homePage .recentProjects .individualProject .projectButtonContainer button {
  border: 1px solid #1d1d1d;
  padding: 10px 8px;
  border-radius: 5px;
  background-color: #ffffff;
}
.websiteContent .homePage .recentProjects .individualProject .projectButtonContainer button:active {
  background-color: #4d2d18;
  color: #ffffff;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}
.websiteContent .homePage .recentProjects .individualProject .projectButtonContainer button a {
  text-decoration: none;
  color: #1d1d1d;
}
.websiteContent .homePage .recentProjects .individualProject:hover {
  color: #1d1d1d;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  border: none;
}
.websiteContent .homePage .viewAllProjectsButton {
  border-radius: 20px;
  border: 1px solid #000;
  background-color: #ffffff;
  padding: 20px 18px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.websiteContent .homePage .viewAllProjectsButton::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 19px;
  z-index: -2;
}
.websiteContent .homePage .viewAllProjectsButton::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #4d2d18;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 19px;
  z-index: -1;
}
.websiteContent .homePage .viewAllProjectsButton:hover {
  color: #fff;
}
.websiteContent .homePage .viewAllProjectsButton:hover::before {
  width: 100%;
}
.websiteContent .homePage .viewAllProjectsButton a {
  text-decoration: none;
  color: #1d1d1d;
}
.websiteContent .homePage .viewAllProjectsButton a:hover {
  color: #fff;
}

@media (max-width: 1320px) {
  .websiteContent .homePage .recentProjects {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 920px) {
  .websiteContent .homePage .recentProjects {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 905px) {
  .websiteContent .homePage .recentProjects .individualProject {
    width: auto;
    height: auto;
  }
}
@media (max-width: 734px) {
  .websiteContent .wrapper .homePage .title {
    margin-top: 100px;
  }
}
.projectPage .projectsProjectPage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin: 20px 68px;
}
.projectPage .projectsProjectPage .individualProject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #1d1d1d;
  padding: 35px 5px 35px 10px;
  height: 410px;
  width: 360px;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.projectPage .projectsProjectPage .individualProject h2,
.projectPage .projectsProjectPage .individualProject p,
.projectPage .projectsProjectPage .individualProject .tags {
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.projectPage .projectsProjectPage .individualProject h2 {
  margin-bottom: 20px;
  text-align: center;
}
.projectPage .projectsProjectPage .individualProject p {
  padding: 0px 20px 10px 15px;
  font-weight: 300;
}
.projectPage .projectsProjectPage .individualProject .tags {
  margin-top: 20px;
}
.projectPage .projectsProjectPage .individualProject .projectButtonContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-top: 15px;
}
.projectPage .projectsProjectPage .individualProject .projectButtonContainer button {
  border: 1px solid #1d1d1d;
  padding: 10px 8px;
  border-radius: 5px;
  background-color: #ffffff;
}
.projectPage .projectsProjectPage .individualProject .projectButtonContainer button:active {
  background-color: #4d2d18;
  color: #ffffff;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}
.projectPage .projectsProjectPage .individualProject .projectButtonContainer button a {
  text-decoration: none;
  color: #1d1d1d;
}
.projectPage .projectsProjectPage .individualProject:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

@media (max-width: 1410px) {
  .projectPage .projectsProjectPage {
    margin: 20px 20px;
  }
}
@media (max-width: 1340px) {
  .projectPage .projectsProjectPage {
    margin: 20px 167px;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 1240px) {
  .projectPage .projectsProjectPage {
    margin: 20px 126px;
  }
}
@media (max-width: 1160px) {
  .projectPage .projectsProjectPage {
    margin: 20px 100px;
  }
}
@media (max-width: 1100px) {
  .projectPage .projectsProjectPage {
    margin: 20px 80px;
  }
}
@media (max-width: 1060px) {
  .projectPage .projectsProjectPage {
    grid-template-columns: 1fr;
  }
  .projectPage .projectsProjectPage .individualProject {
    width: auto;
    height: auto;
  }
}
@media (max-width: 720px) {
  .projectPage .projectsProjectPage {
    margin: 0px;
  }
}
.aboutMeContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.aboutMeContainer div {
  border: 1px solid #1d1d1d;
  padding: 20px 10px;
  border-radius: 20px;
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 18px;
  font-family: HelveticaTextbook;
}
.aboutMeContainer div p {
  line-height: 29px;
}
.aboutMeContainer div p .coloredText {
  color: #2c9c00;
}
.aboutMeContainer div p .coloredJunoText {
  color: #e7410a;
}
.aboutMeContainer div p .italicText {
  font-style: italic;
}
.aboutMeContainer .imageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
}
.aboutMeContainer .imageContainer img {
  border: 1px solid #1d1d1d;
  width: 370px;
  height: 360px;
}

@media (max-width: 1156px) {
  .aboutMeContainer {
    display: grid;
    grid-template-columns: 1fr;
  }
  .aboutMeContainer div {
    border: none;
  }
}
.skillsPage .skillsContainer {
  margin: 70px 0px;
}
.skillsPage .skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.skillsPage .skills li {
  list-style: none;
  font-size: 22px;
  border: 1px solid #1d1d1d;
  text-align: center;
  padding: 30px 50px;
  border-radius: 35px;
}

@media (max-width: 1201px) {
  .skillsPage .skills {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 520px) {
  .skillsPage .skills {
    grid-template-columns: 1fr;
  }
}
footer {
  margin: 100px 0px 30px;
}

.footerBar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footerBar li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.footerBar li a {
  text-decoration: none;
  font-size: 26px;
  color: #ffdd55;
  -webkit-text-stroke: 1px black;
  -webkit-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}
.footerBar li:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.socialMediaLinks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.socialMediaLinks a {
  color: #1d1d1d;
}

@media (max-width: 704px) {
  .footerBar {
    grid-template-columns: 1fr;
  }
}
.formTextContainer .title {
  text-align: center;
  margin-top: 70px;
}
.formTextContainer .introBlurb {
  margin: 0px 140px;
}

.formContainer {
  margin: 40px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
}
.formContainer .nameEmailContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.formContainer .nameEmailContainer input {
  width: 428px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #1d1d1d;
}
.formContainer .nameEmailContainer input::-webkit-input-placeholder {
  font-size: 16px;
}
.formContainer .nameEmailContainer input::-moz-placeholder {
  font-size: 16px;
}
.formContainer .nameEmailContainer input:-ms-input-placeholder {
  font-size: 16px;
}
.formContainer .nameEmailContainer input::-ms-input-placeholder {
  font-size: 16px;
}
.formContainer .nameEmailContainer input::placeholder {
  font-size: 16px;
}
.formContainer .nameEmailContainer .emailField,
.formContainer .nameEmailContainer .nameField {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.formContainer .nameEmailContainer .nameField {
  margin-right: 70px;
}
.formContainer label {
  padding-bottom: 8px;
}
.formContainer .messageField {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 48px;
}
.formContainer .messageField textarea {
  width: 920px;
  border-radius: 5px;
  border: 1px solid #1d1d1d;
}
.formContainer button {
  margin-top: 30px;
  border-radius: 20px;
  border: 1px solid #000;
  background-color: #ffffff;
  padding: 20px 18px;
}
.formContainer button:hover {
  background-color: #5a9e24;
  color: #ffffff;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}